
<h1>Records#show</h1>
<h1 style="color:red">Current user is <%= current_user.role %></h1><br>
<h1>patient_name:<%= current_user.patient.patient_name %></h1>
<h1>  mobile:  <%= current_user.patient.mobile %></h1>
<h1>  address: <%= current_user.patient.address %></h1>